body {
    background-color: darkgray;
}

h1 {
    color: #4286F4;
     font-family: 'Raleway',sans-serif;
     font-size: 62px; 
     font-weight: 800; 
     line-height: 72px; 
     margin: 0 0 24px; 
     text-align: center; 
     text-transform: uppercase;
}

h2 { 
    color: #ffffff; 
    font-family: 'Raleway',sans-serif; 
    font-size: 30px; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 0 0 24px; 
}

h3 {
    color: #ffffff; 
    font-family: 'Raleway',sans-serif; 
    font-size: 24px; 
    font-weight: 800; 
    line-height: 24px; 
    margin: 0 0 24px; 
}

select {
    height: 50px;
    color: #ffffff;
    background-color: lightgray;
    font-family: 'Raleway',sans-serif; 
    font-size: 30px; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 30px 0 24px;
}

button {
    height: 50px;
    color: #ffffff;
    background-color: lightgray;
    font-family: 'Raleway',sans-serif; 
    font-size: 30px; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 30px 0 24px;
    border-style: none;
}

button:hover {
    color: darkgray;
    background-color: white;
}

input {
    height: 50px;
    color: #ffffff;
    background-color: lightgray;
    font-family: 'Raleway',sans-serif; 
    line-height: 36px; 
    padding-left: 10px; 
    border-style: none;
}